COMPOSE_FILE=docker-compose.yml
# PostgreSQL Configuration
POSTGRES_ADMIN_URL=postgresql://admin:admin@postgres:5432/admin
POSTGRES_NEWS_URL=postgresql://admin:admin@postgres:5432/news_db
POSTGRES_HOST=postgres
POSTGRES_PORT=5432
POSTGRES_DB=admin
POSTGRES_ADMIN_DB=admin
POSTGRES_NEWS_DB=news_db
POSTGRES_USER=admin
POSTGRES_PASSWORD=admin

FRONTEND_PORT=8080
BACKEND_PORT=5000

# API Keys and Tokens
GIGA_AUTH_KEY=
GIGA_SCOPE=
DEEPSEEK_API_KEY=
YANDEX_FOLDER_ID=
YANDEX_OAUTH_KEY=

# KAFKA_NODE_ID=1
# KAFKA_PROCESS_ROLES="broker,controller"
# KAFKA_LISTENERS="PLAINTEXT://localhost:9092,CONTROLLER://localhost:9093"
# KAFKA_ADVERTISED_LISTENERS="PLAINTEXT://localhost:9092"
# KAFKA_CONTROLLER_LISTENER_NAMES="CONTROLLER"
# KAFKA_LISTENER_SECURITY_PROTOCOL_MAP="CONTROLLER:PLAINTEXT,PLAINTEXT:PLAINTEXT"
# KAFKA_CONTROLLER_QUORUM_VOTERS="1@localhost:9093"
# KAFKA_OFFSETS_TOPIC_REPLICATION_FACTOR=1
# KAFKA_TRANSACTION_STATE_LOG_REPLICATION_FACTOR=1
# KAFKA_TRANSACTION_STATE_LOG_MIN_ISR=1
# KAFKA_GROUP_INITIAL_REBALANCE_DELAY_MS=0
# KAFKA_NUM_PARTITIONS=3
CORS_ORIGINS=*

