.DS_Store
coverage
dist
dumps
dictionaries
log/*
log_send/*
.idea
.vscode
coverage
.env
.venv
backend-local.json
.jest
*.pdf
*.log
*.xml

/.venv
/.touch
/.coverage
*.swp
*.swo
*.pyc
*.exe
*~
__pycache__


target
tarpaulin-report.html
node_modules
vendor

.ssl
